.cabecalho {
    background-image: linear-gradient(white,rgb(199, 228, 245));
    color: aliceblue;
    display: flex;
    padding: 24px 0;
}

.section1{
    background-color: rgb(208, 240, 240);
    padding: 100px;
}
.section2{
    background-color: rgb(217, 252, 252);
    padding: 100px;
}
.cabecalho-imagem{
    width: 20%;
}
.rodape{
    background-color: rgb(193, 214, 233);
}