.cabecalho {
    background-color: rgb(182, 210, 235);
    color: aliceblue;
    display: flex;
    padding: 24px 0;
}

.section1{
    background-color: rgb(208, 240, 240);
    padding: 100px;
}
.section2{
    background-color: rgb(217, 252, 252);
    padding: 100px;
}
.cabecalho-imagem{
    width: 20%;
}