.cabecalho {
    background-image: linear-gradient(white,rgb(195, 233, 255));
    color: aliceblue;
    display: flex;
    padding: 24px 0;
}

.section1{
    background-color: rgb(175, 226, 233);
    padding: 100px;
}
.section2{
    background-color: rgb(172, 217, 247);
    padding: 100px;
}
.cabecalho-imagem{
    width: 20%;
}
.rodape{
    background-color: rgb(169, 205, 236);
}